<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<div layout:fragment="content">
	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title">詳細画面</h3>
		</div>
		<div th:object="${userData}">
			<div class="card-body">
				<div class="form-group">
					<label>名前</label> <input type="text" class="form-control"
						th:field="*{name}" disabled>
				</div>
				<div class="form-group">
					<label>住所</label> <input type="text" class="form-control"
						th:field="*{address}" disabled>
				</div>
				<div class="form-group">
					<label>電話番号</label> <input type="text" class="form-control"
						th:field="*{phone}" disabled>
				</div>
			</div>
		</div>
		<div class="text-center">
			<a th:href="@{/user/{id}/edit(id=*{id})}" class="btn btn-primary">
				編集 </a> <a href="/users"
				class="btn btn-secondary">一覧に戻る</a>
		</div>
		<br />
	</div>
</div>
</html>