<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<div layout:fragment="content">
	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title">登録画面</h3>
		</div>
		<div class="card-body">
			<div th:if="${validationError}" th:each="error : ${validationError}">
				<label class="text-danger" th:text="${error}"></label>
			</div>
			<form data-toggle="validator" th:action="@{/book/create}"
				th:object="${bookRequest}" role="form" method="post">
				<div class="form-group">
					<label>タイトル</label> <input type="text" class="form-control"
						th:field="*{title}">
				</div>
				<div class="form-group">
					<label>ISBN</label> <input type="text" class="form-control"
						th:field="*{isbn}">
				</div>
				<div class="form-group">
					<label>サムネイル</label> <input type="text" class="form-control"
						th:field="*{thumbnail}">
				</div>
				<div class="form-group">
					<label>説明</label> <input type="text" class="form-control"
						th:field="*{description}">
				</div>
				<div class="form-group">
					<label>著者</label> <input type="text" class="form-control"
						th:field="*{author}">
				</div>
				<div class="form-group">
					<label>出版日時</label> <input type="date" class="form-control"
						th:field="*{publicationdate}">
				</div>
				<div>
					<button type="submit" class="btn btn-primary">新規登録</button>
				</div>
			</form>
		</div>
	</div>
</div>
</html>